#retrieve-stock
  %h3 Search Stocks
  = form_tag search_stocks_path, remote: true, method: :get, id: 'stock-form' do
    .form-group.row.no-padding.text-center.col-md-12
      .col-md-10
        = text_field_tag :stock, params[:stock], placeholder: 'Put a ticker here', autofocus: true, class: 'form-control search-box input-lg'
      .col-md-2
        = button_tag(type: :submit, class: 'btn btn-lg btn-default') do
          %i.fa.fa-search
          Search Stock
  = render 'shared/spinner'
  - if @stock
    #search-stock-results.well.results-block
      %strong Symbol:
      = @stock.ticker
      %strong Name:
      = @stock.name
      %strong Price:
      = @stock.price
      - if current_user.can_add_stock?(@stock.ticker)
        = link_to 'Add to my stocks', user_stocks_path(user: current_user, stock_ticker: @stock.ticker,
          stock_id: @stock.id ? @stock.id : ''), class: 'btn btn-xs btn-success', method: :post
      - else
        %span.label.label-default
          You can't add stock because you
          - if !current_user.under_stock_limit?
            have already have 15 stocks.
          - if current_user.stock_already_added?(@stock.ticker)
            have already added this stock.


  #search-stock-errors


